body{
  background-color: black;
  color: red;
}
.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 1.5rem;
}
#outlined-multiline-flexible{
  width: 30rem!important;

}
.inputfield{
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  background-color: azure; 
}

#addbtn{
  width: 7rem;
}

#image{
   width: 100%;
   height: 25rem;
   object-fit: cover;
   
}

#card{
  background-color: rgb(24, 23, 23);
  width:15rem;
  border-radius: 1rem;
  margin: 1.5rem;
  padding: 1rem;
  color: azure;
}
#card:hover{
  transform:scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 5px;
}

#showdes{
  margin-bottom: 1rem;
}

#delebtn{
 height: 2.3rem;
}